.navbar-font {
  position: relative;
  font-size: 18px;
  font-weight: 600;
  line-height: 27px;
  text-align: left;
}

.navbar-container {
  display:auto;
}

.leistungen-menu-font {
  padding-top: 17px;
  padding-bottom: 10px;
    color: rgba(0, 0, 0) !important;
    background-color: rgba(255, 255, 255) !important;
    position: relative;
    -webkit-transition-property: color, background-color, border-color, text-decoration, visibility, opacity, box-shadow, transform;
    -o-transition-property: color, background-color, border-color, text-decoration, visibility, opacity, box-shadow, transform;
    transition-property: color, background-color, border-color, text-decoration, visibility, opacity, box-shadow, transform;
    -webkit-transition: none !important;
    -o-transition: none !important;
    transition: none !important;
}

.navbar-arrow-down-container {
  position: relative;
  width: 9%;
}

.navbar-arrow-down {
  position: absolute;
  width: 0.63%;
  height: 11px;
  top: 50%;
  left: 68.26%;
  font-family: Font Awesome 5 Free, var(--default-font-family);
  font-size: 14px;
  font-weight: 900;
  line-height: 14px;
  background: url(images/arrow-down.png)
    no-repeat center;
  background-size: cover;
  transform: translate(0, 32.14%);
  z-index: 5;
}

.navbar li a:hover {
  color: #fff;

  -webkit-transition-property: color, background-color, border-color, text-decoration, visibility, opacity, box-shadow, transform;
  -o-transition-property: color, background-color, border-color, text-decoration, visibility, opacity, box-shadow, transform;
  transition-property: color, background-color, border-color, text-decoration, visibility, opacity, box-shadow, transform;

  -webkit-transition: none !important;
  -o-transition: none !important;
  transition: none !important;
}


.navbar-collapsed {
  padding-top: 25px;
  padding-left: 0px;
  padding-right: clamp(50px, 500px, 750px);
}


.navbar li.active a span:before {
  visibility: visible;
  /* -webkit-transform: none; */
  /* transform: none; */
}


.navbar li a:hover span:before {
  visibility: visible;
  -webkit-transform: none;
  -moz-transform: none;
  -ms-transform: none;
  -o-transform: none;
  transform: none;

  -webkit-transition-property: color, background-color, border-color, text-decoration, visibility, opacity, box-shadow, transform;
  -o-transition-property: color, background-color, border-color, text-decoration, visibility, opacity, box-shadow, transform;
  transition-property: color, background-color, border-color, text-decoration, visibility, opacity, box-shadow, transform;


  -webkit-transition: none !important;
  -o-transition: none !important;
  transition: none !important;
}


.logo-container {
  position: absolute;
  margin: 0 auto;
  width: 140px;
  height: 96px;
  left: -12px;
  z-index: 100;
  margin-left: clamp(5px, 10px, 15px);
}

.berasco-logo {
  position: absolute;
  top: 7px;
  left: 0px;
  right: 0px;
  background-size: cover;
  width: 126.08px;
  height: 89px;
  min-width: 126.08px;
/* clamp(min, prefferred, max) */
  margin-left: clamp(0px, 0px, 0px);
  max-width: 100%;
  display: inline-block;
  overflow-x: hidden;
  overflow: hidden;
}


.dropdown-content {
  display: none;
  position: absolute;
  background-color: #fff;
  /*  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
   */
  border-radius: 5px;
  min-width: 200px;
  z-index: 1;
  padding: 10px 0;
}


.dropdown-menu {
  display: none;
}

.dropdown.open .dropdown-menu {
  display: block;
}
