<section id="fh5co-angebot" style="background-color: #EE0000; color: #FFF; height:535px;">
  <div class="container">
    <div class="row">
		  <div style="color:#FFF; text-align:center; margin-top: 150px;">
			<h2 style="color:#FFF; text-align:center;">
			  {{ .Site.Params.angebot.title }}
			</h2>
			<br/>
			{{ .Site.Params.angebot.description }}
			<br/>			<br/>
			<h3 style="color:#FFF; text-align:center; line-height: 30px; font-size: 20px" >			{{ .Site.Params.angebot.cta }} </h3>
			<br/>
			<a href="#" data-nav-section="contact" class="btn btn-invert" >
			  {{ .Site.Params.angebot.button }}
			</a>
		  </div>
    </div>
  </div>
</section>
