<section id="fh5co-home" data-section="home" style="background-image: url(images/hero-img.jpg); background-size:cover; background-position: center; background-repeat:no-repeat;" data-stellar-background-ratio="0.5">
  <link rel="stylesheet" href="css/hero.css">

  <div class="hero-gradient">

  <div class="main-container">
	  <div class="flex-row-a">
		<div class="kompetenz-im-hoch-tiefbau">
		  <span class="kompetenz to-animate"> {{ with .Site.Params.hero.titlekeyword }}{{ . | markdownify }}{{ end }} </span>
		  <span class="im-hoch-und-tiefbau"> {{ with .Site.Params.hero.title }}{{ . | markdownify }}{{ end }} </span>
		  <span class="dot to-animate">.</span>
		</div>
	  </div>
  </div>
</div>
  <div class="slant"></div>
</section>
