<section id="fh5co-home" data-section="home" style="background-image: url(images/hero-img.jpg);" data-stellar-background-ratio="0.5">
  <div class="gradient"></div>
  <div class="container">
	<div class="text-wrap">
	  <div class="text-inner">
		<div class="row">
		  <div class="col-md-8 col-md-offset-2">
			<h1 align="left" class="to-animate"><span style="color:red">{{ with .Site.Params.hero.titlekeyword }}{{ . | markdownify }}{{ end }} </span>{{ with .Site.Params.hero.title }}{{ . | markdownify }}{{ end }}<span style="color:red">.</span></h1>
			<h2 class="to-animate">{{ with .Site.Params.hero.subtitle }}{{ . | markdownify }}{{ end }}</h2>
		  </div>
		</div>
	  </div>
	</div>
  </div>
  <div class="slant"></div>
</section>
