<section id="fh5co-home" data-section="home" style="background-image: url(images/hero-img.jpg);" data-stellar-background-ratio="0.5">
  <div class="gradient"></div>
  <div class="container">
	<div class="text-wrap">
	  <div class="text-inner">
		<div class="row">
		  <div class="col-md-8 col-md-offset-2">
			<h1 align="left" class="to-animate"><span style="color:red">{{ with .Site.Params.hero.titlekeyword }}{{ . | markdownify }}{{ end }} </span>{{ with .Site.Params.hero.title }}{{ . | markdownify }}{{ end }}<span style="color:red">.</span></h1>
			<h2 class="to-animate">{{ with .Site.Params.hero.subtitle }}{{ . | markdownify }}{{ end }}</h2>
		  </div>
		</div>
	  </div>
	</div>
  </div>
  <div class="slant"></div>
</section>


<section id="fh5co-home" data-section="home" style="background-image: url(images/hero-img.jpg);" data-stellar-background-ratio="0.5">
<div class="main-container">
  <div class="rectangle">
    <span class="call-us">Rufen Sie uns gerne an: 033231-3141 00</span>
  </div>
  <div class="rectangle-1">
    <div class="flex-row">
      <div class="logo"></div>
      <div class="start-leistungen-jobs">
        <span class="start">START</span
								   ><span class="leistungen-jobs-kontakt">
          LEISTUNGEN JOBS KONTAKT</span
								   >
      </div>
      <div class="angle-down"></div>
    </div>
    <div class="rectangle-2"></div>
  </div>
  <div class="rectangle-3">
    <div class="flex-row-a">
      <div class="kompetenz-im-hoch-tiefbau">
        <span class="kompetenz">Kompetenz</span
										   ><span class="high-low-construction"> im Hoch- und Tiefbau</span
																									   ><span class="dot">.</span>
      </div>
      <div class="rectangle-4"></div>
    </div>
    <div class="angle-down-5"></div>
  </div>
  <div class="dji-edit"></div>
</div>
