<section id="fh5co-intro" class="bg-gray-50">
  <div class="container">
    <div class="intro-grid">
      <!-- Description Tile -->
      <div class="intro-description">
        <h3>{{ .Site.Params.intro.title }}</h3>
        <p>{{ .Site.Params.intro.description }}</p>
      </div>

      <!-- Numbered Tiles -->
      {{ range $index, $element := .Site.Params.intro.items }}
      <div class="intro-tile">
        <div class="tile-number">{{ printf "%02d" (add $index 1) }}</div>
        <h4>{{ .title }}</h4>
        <p>{{ .description }}</p>
      </div>
      {{ end }}
    </div>
  </div>
</section>
