<link rel="stylesheet" href="css/navbar.css">

<header role="banner" id="fh5co-header">
  <nav class="navbar navbar-default">

	<!-- HEADER DIV + LOGO -------------------------------------------->
	<div class="navbar-header">
	  <a href="#" class="js-fh5co-nav-toggle fh5co-nav-toggle
						 navbar-brand" data-toggle="collapse" data-target="#navbar"
		 aria-expanded="false" aria-controls="navbar"/>
      <a class="navbar-brand" href="index.html">
		<div class="logo-container">
		  <img class="berasco-logo" src="images/logo.png"
			   alt="Berasco-Firmenlogo"/>
		</div>
      </a>
    </div>

	<!-- NAVBAR DIV --------------------------------------------------->
    <div id="navbar" class="navbar-collapse collapse">
      <ul class="nav navbar-nav navbar-right navbar-container">

		<!-- START ---------------------------------------------------->
        <li class="active nav-item">
          <a class="nav-link" href="#" data-nav-section="home" >
			<span>
			  {{ with .Site.Params.navigation.home }}
			  {{ . | markdownify }}{{ end }}
			</span>
          </a>
        </li>

		<!-- LEISTUNGEN DROPDOWN ------ BROKEN ------------------------>
		<link rel="stylesheet" href="css/dropdown.css">
		<li class="active nav-item dropdown">

		  <a href="#" class="nav-link dropdown-toggle"
			 data-nav-section="leistungen" onclick="scrollAndOpen('tiefbau', event)" >
			{{ with .Site.Params.leistungen.navtitle }}
			{{ . | markdownify }}
			{{ end }}
			<img class="navbar-arrow-down-container"
				 src="images/arrow-down.png"/>
		  </a>
		<!--   <ul class="dropdown-menu leistungen-menu-font"> -->
		<!-- 	{{ range .Site.Params.leistungen.sections }} -->
		<!-- 	<li> -->
		<!-- 	  <a class="dropdown-item" href="#" -->
		<!-- 		 onclick="scrollAndOpen('{{ .id }}', event)"> -->
		<!-- 		{{ .navtitle }} -->
		<!-- 	  </a> -->
		<!-- 	</li> -->
		<!-- 	{{ end }} -->
		<!--   </ul> -->
		</li>


		<!-- NAVBAR ITEM: REFERENZEN ---------------------------------->
		{{ if .Site.Params.testimonials.enable }}
        <li>
		  <a href="#" data-nav-section="testimonials">
			<span>{{ with .Site.Params.navigation.testimonials }}
			  {{ . | markdownify }}{{ end }}</span>
		</a></li>
        {{ end }}

        {{ if .Site.Params.services.enable }}
        <li>
		  <a href="#" data-nav-section="services">
			<span>{{ with .Site.Params.navigation.services }}
			  {{ . | markdownify }}{{ end }}</span>
		  </a>
		</li>
        {{ end }}


		<!-- NAVBAR ITEM: KONTAKT ------------------------------------->
        <li>
		  <a href="#" data-nav-section="contact">
			<span>
			  {{ with .Site.Params.navigation.contact }}
			  {{ . | markdownify }}{{ end }}
			</span>
		  </a>
        </li>
      </ul>

    </div> <!-- NAVBAR DIV END ---------------------------------------->

  </nav>
</header>
