

		<!-- <\!-- new  "Leistungen" drop-down menu -\-> -->
		<!-- <li class="active nav-item dropdown"> -->
		<!--   <a class="nav-link dropdown-toggle" href="#" data-nav-section="leistungen"  role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> -->
		<!-- 	{{ with .Site.Params.leistungen.navtitle }} -->
		<!-- 	{{ . | markdownify }} -->
		<!-- 	{{ end }} -->
		<!-- 	<img class="navbar-arrow-down-container" src="images/arrow-down.png"/> -->
		<!--   </a> -->

		<!--   <\!--  CONTENT OF "Leistungen" drop-down menu -\-> -->
		<!--   <ul class="dropdown-menu  leistungen-menu-font"> -->
		<!-- 	{{ range .Site.Params.leistungen.sections }} -->
		<!-- 	<li> -->
		<!-- 	  <a class="nav-link dropdown-item" href="#leistungen" onclick="scrollAndOpen('{{ .id }}', event)"> -->
		<!-- 		{{ .navtitle }} -->
		<!-- 	  </a> -->
		<!-- 	</li> -->
		<!-- 	{{ end }} -->
		<!--   </ul> -->
		<!-- </li> -->


		<!-- <\!-- VORSCHLAG ohne "Leistungen" drop-down menu !!-\-> -->
		<!-- <li class="active nav-item dropdown"> -->
		<!--   <a class="nav-link dropdown-toggle" href="#" data-nav-section="leistungen"  role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> -->
		<!-- 	{{ with .Site.Params.leistungen.navtitle }} -->
		<!-- 	{{ . | markdownify }} -->
		<!-- 	{{ end }} -->
		<!-- 	<img class="navbar-arrow-down-container" src="images/arrow-down.png"/> -->
		<!--   </a> -->
		<!-- </li> -->
